body {
  background-color: #000;
  color: green;
  font-family: 'Courier New', Courier, monospace;
}

@media only screen and (min-width: 768px) {
  .game {
    border: 1px solid green;
    border-radius: 5px;
    padding: 10px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 600px) {
  .game {
    border: 1px solid green;
    border-radius: 5px;
    padding: 10px;
  }
}

@media only screen and (max-width: 600px) {
  .game {
    border: 1px solid green;
    border-radius: 5px;
    padding: 10px;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-item {
  text-align: center;
}

.player {
  cursor: pointer;
  height: 80px;
}

.player span {
  font-size: 4rem;
}

.player-line-top {
  border-top: 2px solid green;
}

.player-line-right {
  border-right: 2px solid green;
}

.player-line-bottom {
  border-bottom: 2px solid green;
}

.game-scoreboard-box {
  width: 290px;
  margin-left: auto;
  margin-right: auto;
  font-size: 2rem;
}

.game-scoreboard-player {
  width: 130px;
  border: 1px solid green;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
}

.player-left,
.player-right {
  padding: 10px;
}

.player-left {
  float: left;
}

.player-right {
  float: right;
}

.game-scoreboard-player span {
  font-weight: bold;
}

.game-scoreboard-round {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 1rem;
}

.next-player {
  background-color: green;
  color: #000;
}

.menu {
  font-size: 2rem;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 5px;
}

.menu-item {
  display: none;
  font-size: 1.4rem;
  margin-bottom: 20px;
}

.menu-item div {
  padding: 10px;
  border: 1px solid green;
  cursor: pointer;
  margin-bottom: 5px;
}